*{
    margin: 0;
    padding:0;
}



header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    gap: 40px;


}

header figure{
    width: 120px;
    height:auto;
}

header figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-group figure{
    font: 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
    width:40px;
    height: auto;
    overflow: hidden;
}

.user-group figure img{
    width: 100%;
    height: auto;
}

header form{
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 800px;
    gap: 2px;
    font: 16px "Roboto", sans-serif;
}

header form input[type=search]{
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    border-bottom: 0.5px solid gray;
}

.search-btn {
    background: url('assets/search-interface-symbol.png') no-repeat center;
    background-size: 20px 20px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}